.container {
    position: relative;
    text-align: center;
    color: white;
  }

.heading {
    position: absolute;
    font-family: arial;
    font-size: 4rem;
    top: 8px;
    left: 25px;
    color: white;
  }


.sidebar-nav {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

